.uiSpinner {
    width: 2rem;
    height: 2rem;
    border: 3px solid transparent;
    border-top: 3px solid black;
    border-radius: 50%;
    animation: spin 0.5s linear 0s infinite;

    @keyframes spin {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }
}